/*
Ocean Network
Custom Styles by Navilindo
*/


/* colors */
:root {
    --ocean-blue : #00aeef;
    --pale-ocean : #56c7f2;
    --dark-blue : #02334b;
}

body, html {
    font-family: 'Bebas Neue', sans-serif ;
    font-family: 'Poppins', sans-serif !important;
}

/* header */
#topLogo {
    height: 30px;
    width: auto;
}

.nav-link {
    color: var(--dark-blue) !important;
    font-family: 'Bebas Neue', sans-serif !important;
    font-size: 18px;
}

.nav-link:hover {
    color: var(--ocean-blue) !important;
}

/* main section */
.page-title {
    color: var(--dark-blue);
    font-weight: 600;
}

.pg-title {
    color: var(--ocean-blue);
}

/* footer */
.ft-logo {
    height : 100px;
}

.ft-motto {
    color : var(--ocean-blue);
    font-weight: 600;
}

.ft {
    background-color: var(--dark-blue);
    color : white;
}

.ft-title {
    color : var(--ocean-blue);
    font-family: 'Bebas Neue', sans-serif ;
}

.ft-link {
    color : white;
    text-decoration: none;
}

.ft-link:hover {
    color: var(--ocean-blue);
}

/* copyleft */
.copy-left {
    font-family: 'Bebas Neue', sans-serif !important;
    color: var(--ocean-blue);
}

.copy-left > a {
    color : var(--ocean-blue);
    text-decoration: none !important;
}

.copy-left > a:hover {
    color : white;
    text-decoration: none!important;
}

/* Home */
#jumbo {
    background-color: var(--ocean-blue);
    background-image: url('../images/imgs/log-0.png');
    background-image: url('../images/imgs/log-0.png');
    height: 100hv;
    background-blend-mode: multiply;
    color: white;
}

#jumboIcon {
    height : 150px;
}

.jumboBtn {
    color : var(--ocean-blue) !important;
    background-color: var(--dark-blue) !important;
}

.jumboBtn:hover {
    color: var(--dark-blue) !important;
    background-color: var(--ocean-blue) !important;
}

.icon-square {
    color : var(--dark-blue);
}

.home-icon {
    color : var(--ocean-blue);
}

.feats {
    color : var(--dark-blue);
}

/* .border-pattern {
    border-top: dashed 2px var(--dark-blue);
} */

/* #logPattern {
    width : 100vw;
    background-color: var(--dark-blue);
    background-blend-mode: luminosity;
} */

.servs {
    background-image: url('../images/imgs/log-pattern.jpg');
    background-size: 100vw;
}
.servs :hover {
    /* opacity:.85!important; */
}

#servs {
    opacity: 0.85;
    font-size: 1.2rem;
    background-color: var(--dark-blue);
    color: var(--ocean-blue);
}

#servs :hover {
    /* background-color: var(--dark-blue); */
    font-size: 15.rem;
    font-weight: bold;
    color: white;
    font-size: large;
}

/* .col1 {
    background-color : var(--dark-blue);
}

.col2 {
    background-color : var(--ocean-blue);
}

.col3 {
    background-color : var(--pale-ocean);
} */


/* Services page */

/* Contact page */

#contactSub {
    color : var(--ocean-blue);
    font-weight: 300;
}

#contactBtn {
    background-color: var(--ocean-blue);
    color: var(--dark-blue);
}

#contactBtn :hover {
    background-color: var(--dark-blue) !important;
    color: var(--ocean-blue) !important;
}