/*
Ocean Network
Custom Styles by Navilindo
*/


/* colors */
:root {
    --ocean-blue : #00aeef;
    --pale-ocean : #56c7f2;
    --dark-blue : #02334b;
}

body, html {
    font-family: 'Bebas Neue', sans-serif ;
    font-family: 'Poppins', sans-serif !important;
}

/* header */
#topLogo {
    height: 30px;
    width: auto;
}

.nav-link {
    color: var(--dark-blue) !important;
    font-family: 'Bebas Neue', sans-serif !important;
    font-size: 18px;
}

.nav-link:hover {
    color: var(--ocean-blue) !important;
}

/* footer */
.ft-logo {
    height : 100px;
}

.ft-motto {
    color : var(--ocean-blue);
    font-weight: 600;
}

.ft {
    background-color: var(--dark-blue);
    color : white;
}

.ft-title {
    color : var(--ocean-blue);
    font-family: 'Bebas Neue', sans-serif ;
}

.ft-link {
    color : white;
    text-decoration: none;
}

.ft-link:hover {
    color: var(--ocean-blue);
}

/* copyleft */
.copy-left {
    font-family: 'Bebas Neue', sans-serif !important;
    color: var(--ocean-blue);
}

.copy-left > a {
    color : var(--ocean-blue);
    text-decoration: none !important;
}

.copy-left > a:hover {
    color : white;
    text-decoration: none!important;
}

/* Home */
#jumbo {
    background-color: var(--ocean-blue);
    background-image: url('../images/imgs/log-0.png');
    background-image: url('../images/imgs/log-0.png');
    height: 100hv;
    background-blend-mode: multiply;
    color: white;
}

#jumboIcon {
    height : 150px;
}

.jumboBtn {
    color : var(--ocean-blue) !important;
    background-color: var(--dark-blue) !important;
}

.jumboBtn:hover {
    color: var(--dark-blue) !important;
    background-color: var(--ocean-blue) !important;
}

.icon-square {
    color : var(--dark-blue);
}

.home-icon {
    color : var(--ocean-blue);
}

.feats {
    color : var(--dark-blue);
}

/* .border-pattern {
    border-top: dashed 2px var(--dark-blue);
} */

#logPattern {
    width : 100vw;
    background-color: var(--dark-blue);
    background-blend-mode: luminosity;
}

#logPattern:hover {
    opacity: 15%;
}


.log-pattern {
   
}

#servs {
    background-image: url('../images/imgs/log-pattern.jpg');
    background-size: 100vw;
}

.showme {
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.5s, opacity 0.5s;
}

.clickhere:hover + .showme {
    opacity: 1;
    transform: translateY(0);
}


.col1 {
    background-color : var(--dark-blue);
}

.col2 {
    background-color : var(--ocean-blue);
}

.col3 {
    background-color : var(--pale-ocean);
}