/*
Ocean Network
Custom Styles by Navilindo
*/


/* colors */
:root {
    --ocean-blue : #00aeef;
    --pale-ocean : #56c7f2;
    --dark-blue : #02334b;
}

body, html {
    font-family: 'Bebas Neue', sans-serif ;
    font-family: 'Poppins', sans-serif;
}

/* header */
#topLogo {
    height: 30px;
    width: auto;
}

.nav-link {
    color: var(--pale-ocean) !important;
    font-family: 'Bebas Neue', sans-serif !important;
    font-size: 20px;
}
